body {
	margin-left: 10%;
	margin-right: 10%;
	border:1px solid black;
}
input[type="text"] {
	margin-bottom: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}
h1,h3 {
	text-align: center;
}
h3 {
	border: 1px solid black;
	margin : 5%;
	margin-left: 5%;
	margin-right: 5%;
}
table, td{
	font-size: 17px;
	padding: 8px;
}
table {
	padding: 20px;
	padding-right: 130px;
	padding-left: 130px;
	border:1px solid black;
}
img {
	padding-top: 10px;
}
form {
	padding-top: 30px;
	padding: 20px;
}
#button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

 }
a{
	padding-right: 36px;
}

